 <h1>Create</h1>

<form action="" method="post" >
    Name: <input type="text" name="title"><br>
    Model: <input type="text" name="model"><br>
    Image: <input type="text" name="image"><br>
    Price: <input type="number" name="title"><br>
    Code: <input type="number" name="title"><br>
    Stock: <input type="number" name="type">

    <input type="submit" value="Crear">
</form>
