<<<<<<< HEAD
 
=======
 <h1>Create</h1>

<form action="" method="post" >
    Name: <input type="text" name="name"><br>
    thumbnail: <input type="text" name="thumbnail"><br>
    Type: <input type="text" name="type">

    <input type="submit" value="Crear">
</form>
>>>>>>> f4c5cc091a259cc6fbe76c0c313a4861ef603196
