 <h1>Create</h1>

<form action="" method="post" >
    Name: <input type="text" name="name"><br>
    Image: <input type="text" name="image"><br>
    Type: <input type="text" name="type">

    <input type="submit" value="Crear">
</form>
