<h1>My Ecommerce</h1> 
<div>
    <b>{{product.name}}</b>
    <img width="50" src="{{product.thumbnail}}">
    <i>{{product.type}}</i>
    <hr>
    <a href="/pokemon/delete/{{product._id}}">Delete</a>
</div>