<h1>My Ecommerce</h1> 
<div>
    <b>{{product.title}}</b>
    <img width="50" src="{{product.image}}">
    <i>{{product.model}}</i>
    <hr>
    <a href="/product/delete/{{product._id}}">Delete</a>
</div>
