<div>
  
        <form id="form_product">
            <input type="text" name="title" placeholder="Título" />
            <input type="text" name="model" placeholder="Modelo" />
            <input type="number" name="image" placeholder="Imagen" />
            <input type="number" name="price" placeholder="Precio" />
            <input type="text" name="code" placeholder="Ingrese el código del prod" />
            <input type="number" name="stock" placeholder="Stock" />
            <input type="submit" value="Enviar!" />
        </form>
</div>

<div>

    <h1 class="title"> Ver Productos OnLINE</h1>
    <table class="list_product">
        <tr>
            <th>Title</th>
            <th>Model</th>
            <th>Price</th>
        </tr>

        <tbody id="table_products">

        </tbody>

    </table>

</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
    }
    .title {
        text-align: center;
    }
    .product-list {
        width: 100%;
    }
</style>

<script src="js/index.js"></script>